.selection-airplane {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  width: 20%;
  height: 30vh;
}

.selected-value {
  display: flex;

}

.selected-value label {
  font-size: 4rem;
  font-weight: thin;
  color: #0f3272;
}

.options-menu {
  font-size: 4rem;
  background-color: #fff;
  padding: 50px;
}